.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-sarif;
  font-weight: 900;
  font-style: normal;
  color:#99d930;
}

*{
  font-family: "Roboto";
  
  font-style: normal;
  text-align: center;
  margin: 0;
}
img{
  height: 400px;
  width: 400px;  
border-radius: 50%;
margin-top: 30px;

}
.wraper{
 text-align: center;
}
h1{
  margin-top: 30px;
  font-weight: 300;
  font-size: 80px;
}
h2{
  margin-top: 10px;
  font-weight: 300;
  font-size: 60px;

 
}
h3{
  
  font-weight: 900px;
  font-size: 36px;
  
}
.small{
  font-size: 16px;

}
.con-link{
  color: #99D930 ;
  
}
.con-link:hover {
  color:  #131313; 
}
.main{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #D7D7D7;
  
}
.about-me{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFEAEA;
}
.articles{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EAF9FF;
  background-color: #252525;
  color: #fff;
}
.main{
  background-color: #252525;
  color: #fff;
}
.var{
  margin-top: 20px;
}
.button{
  color: #252525 ;
  background: #99D930;
  margin-top: 30px;
  text-decoration: none;
  display: flexbox;

}
button:hover {
  color: #fff;
 background: #252525;
}
.anchor{
  color: #131313;
}
h2{
  display: inline-block;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;

}
.space{
  margin-bottom: 20px;
}
.small{
  color: #99d930;
 Font-weight: 900;

}
#hover:hover{
   background: #fff;
   color: #252525;
}
